.assignments header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #eee;
}

.type {
  display: inline-block;
  padding: 0.5rem 1.5rem;
}

.assignments header > span {
  display: block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
}

.active-type {
  position: relative;
  color: #cf871c;
}

.active-type::after{
  position: absolute;
  content: "";
  height: 1px;
  background-color:#cf871c;
  bottom: 0;
  left: 50%;
  right: 50%;
  animation: rightward 0.3s forwards ease-out;
}

.loginBar{
  display: flex;
  position: absolute;
  align-items: center;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  cursor: pointer;
}

.loginBar:hover{
  color: #cf871c;
  transition: all 0.5s ease-out;
}

.loginBar img{
  height: 100%;
  width: auto;
  padding-left: 0.2rem;
}

@keyframes rightward{
  0%{
    left: 50%;
    right: 50%;
  }
  100%{
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .type {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
  }
}
