body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.task-loading{
  display: block;
  margin: 10% auto;
  border: 4px solid #1C0221;
  border-radius: 50%;
  border-top: 5px solid #E0A458;
  height: 3rem;
  width: 3rem;
  animation: loading 0.8s  linear infinite;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .task-loading{
    margin: 30% auto;
  }
}