button{
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
    background-color: #ac8d05;
    color: #fff;
    font-weight: bold;
}

.login-message{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ae2153;
}

.register-link{
    text-decoration: underline;
    color: #FFEBC6;
    cursor: pointer;
}

.logout-button{
    width: 20vw;
}

.logout-username{
    color: #FFEBC6;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.loading{
    margin: auto;
    border: 3px solid #555;
    border-top: 3px solid white;
    width: 1rem;
    border-radius: 50% !important;
    height: 1rem;
    animation: load-anim 1s infinite linear;
}

@keyframes load-anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}