.options {
  position: absolute;
  list-style: none;
  background-color: #202225;
  z-index: 5;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.5);
  animation: pop-up 0.5s ease-out forwards;
}

.options li:not(.options:first-child) {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.options li + li {
  border-top: 1px solid white;
}

@keyframes pop-up {
  0% {
    top: 1.5rem;
  }
  100% {
    top: 1rem;
  }
}
